<p>
It has been a pleasure to teach <%= comment.name %> in Spanish IV this year. <%= comment.participation %>
In class this semester, we have continued to work on improving our knowledge of the Spanish language, including grammar,
vocabulary, and skills, while at the same time learning about a variety of topics through the use of the Spanish language.
Our primary grammar concept has been the subjunctive mood. On our unit test, <%= comment.name %> scored
<%= comment.score %>%. <%= comment.test_c %> We have also focused on reading
and writing. We are currently working through a serious Catalan play called, "El método Grönholm"
which we have coupled with significant writing practice. When writing, <%= comment.name %> should focus on
<%= comment.write %> I wish <%= comment.name %> the best of luck next year. <%= comment.name %> is recommended
for <%= comment.rec %>.
</p>
