<p>It has been an absolute pleasure to teach <%= comment.name %> in AP Spanish this year.
After focusing on Spain for the first semester, this semester we have turned our gaze
to the Americas. Each student in the class is working to become an
expert in one country and will create a video and interactive game to share their information with the rest of the class.
For this project, <%= comment.name %> selected <%= comment.country %> and has begun to compile some in-depth
research as well as reach out to speak first hand with someone from <%= comment.country %>.
Meanwhile, we continue to focus on skill building and increased production accuracy.
Recently, <%= comment.name %> scored <%= comment.score %>% on an assessment that looked at the intricate connections
between the indigenous peoples, the colonizing peoples, their cultures, and the
geopolitical landscapes that have shaped the present-day Americas. When writing,
<%= comment.name %> should <%= comment.write %> <%= comment.add %>
Next year, <%= comment.name %> is recommended for the AP Literature course. I wish <%= comment.name %> the best in her future endeavors.</p>
